<!-- Add Patient Button -->
<button type="button" class="btn btn-primary btn-lg mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#add-edit-patient"
    (click)="addClick()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill"
        viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        <path fill-rule="evenodd"
            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
    </svg>
    Add Patient
</button>

<!-- Modal -->
<div class="modal fade" id="add-edit-patient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close btn-outline-light" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeClick()"></button>
            </div>
            <div class="modal-body">
                <app-add-edit-patient [patient]="patient" *ngIf="activateAddEditPatientComp"></app-add-edit-patient>
            </div>
        </div>
    </div>
</div>

<!-- Search & Filter -->
<form class="border mb-4">
    <h4 class="text-center mt-2">Search & Filter</h4>
    <div class="row m-4">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-1">
            <div class="form-group">
                <input class="form-control" type="text" name="patientName" [(ngModel)]="filter.patientName"
                    placeholder="Patient Name...">
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-1">
            <div class="form-group">
                <input class="form-control" type="number" name="fileNo" [(ngModel)]="filter.fileNo"
                    placeholder="File No...">
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-1">
            <div class="form-group">
                <input class="form-control" type="tel" name="phoneNumber" [(ngModel)]="filter.phoneNumber"
                    placeholder="Phone Number...">
            </div>
        </div>
    </div>

    <div class="text-center m-3">
        <button class="btn btn-primary" (click)="search()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
            Search
        </button>
    </div>
</form>

<!-- Patients Cards -->
<div class="row row-cols-1 row-cols-lg-3 g-4">

    <div class="col" *ngFor="let patient of patientList">
        <div class="card bg-light border-secondary h-100">
            <div class="card-body row">
                <h5 class="card-title text-center mb-3">{{patient.name}}</h5>
                <hr>
                <div class="col-4">
                    <img class="img-fluid img-thumbnail" *ngIf="patient.gender==0 else female"
                        src="../../../../assets/img/male.jpg" alt="An error occurred while uploading the image!">
                    <ng-template #female>
                        <img class="img-fluid img-thumbnail" src="../../../../assets/img/female.jpg"
                            alt="An error occurred while uploading the image!">
                    </ng-template>
                </div>
                <div class="col-8">
                    <p class="card-text">File No: {{patient.fileNo}}<br>Citizen Id: {{patient.citizenId}}<br>Birth Date:
                        {{patient.birthDate | date:"dd/MM/yyyy"}}<br>Natinality: {{patient.natinality}}</p>
                </div>
            </div>
            <div class="card-footer text-center">

                <!-- Edit Button -->
                <button type="button" class="btn btn-outline-success m-1" data-bs-toggle="modal"
                    data-bs-target="#add-edit-patient" (click)="editClick(patient)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                    </svg>
                    Edit
                </button>

                <!-- Delete Button -->
                <button type="button" (click)="deleteClick(patient.id)" class="btn btn-outline-danger m-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                    </svg>
                    Delete
                </button>

            </div>
        </div>
    </div>

</div>

<!-- Pagination Items -->
<ul class="pagination justify-content-center mt-4">
    <li class="page-item" (click)="previous()"><a class="btn btn-outline-primary">Previous</a></li>
    <li class="page-item" *ngFor='let in of pagesCount() ;let i = index' (click)="getPage(i+1)">
        <a class="btn btn-outline-primary">{{i+1}}</a>
    </li>
    <li class="page-item" (click)="next()"><a class="btn btn-outline-primary">Next</a></li>
</ul>