<nav class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">Patients System</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#patients">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo">Patients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
</nav>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-5">
      <app-patient-details></app-patient-details>
    </div>
    <div class="col-7">
      <app-patient-list></app-patient-list>
    </div>
  </div>
</div>