<div class="form-control">
    <form class="border">
        <h4 class="text-center mt-2">Search & Filter</h4>
        <div class="row m-3">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <input class="form-control" type="text" [(ngModel)]="patientName" name="patientName"
                        placeholder="Patient Name...">
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <input class="form-control" type="number" [(ngModel)]="fileNo" name="fileNo"
                        placeholder="File No...">
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <input class="form-control" type="tel" [(ngModel)]="phoneNumber" name="phoneNumber"
                        placeholder="Phone Number...">
                </div>
            </div>
        </div>

        <div class="text-center m-3">
            <button class="btn btn-primary" (click)="search()">Search</button>
        </div>
    </form>

    <form class="border container mt-2">
        <h4 class="text-center mt-2">Patients</h4>

        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col" *ngFor="let patient of service.patients">
                <div class="card bg-light border-secondary h-100">
                    <img src="../../../assets/img/anonymous.png" class="card-img-top"
                        alt="An error occurred while uploading the image!">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ patient.name }}</h5><br>
                        <p class="card-text">File No: {{ patient.fileNo }}<br>Citizen Id: {{ patient.citizenId
                            }}<br>Birth Date: {{ patient.birthDate | date:"dd/MM/yyyy" }}<br>Gender: {{ patient.gender
                            == 0 ? "Male" : "Female" }}<br></p>
                    </div>
                </div>
            </div>

            <div class="col" *ngFor="let patient of service.patients">
                <div class="card bg-light border-secondary h-100">
                    <img src="../../../assets/img/anonymous.png" class="card-img-top"
                        alt="An error occurred while uploading the image!">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ patient.name }}</h5><br>
                        <p class="card-text">File No: {{ patient.fileNo }}<br>Citizen Id: {{ patient.citizenId
                            }}<br>Birth Date: {{ patient.birthDate | date:"dd/MM/yyyy" }}<br>Gender: {{ patient.gender
                            == 0 ? "Male" : "Female" }}<br></p>
                        <p class="card-text"><small class="text-muted">Natinality: {{ patient.natinality }}<br></small>
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <div class="row justify-content-center ps-3 pe-3">
            <div class="col-6 mt-2" *ngFor="let patient of service.patients">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ patient.name }}</h5>
                        <p class="card-text">
                            File No: {{ patient.fileNo }}<br>
                            Citizen Id: {{ patient.citizenId }}<br>
                            Birth Date: {{ patient.birthDate | date:"dd/MM/yyyy" }}<br>
                            Gender: {{ patient.gender == 0 ? "Male" : "Female" }}<br>
                        </p>
                        <div class="justify-content-center">
                            <button (click)="viewPatientDetails(patient)" class="btn btn-outline-primary m-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                </svg>
                            </button>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Delete</button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Patient!</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">Are you sure you want to delete this patient's record?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" (click)="deletePatient(patient.id)"
                                                class="btn btn-outline-danger" data-bs-dismiss="modal">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination justify-content-center mt-3">
            <li class="page-item"><a class="page-link" (click)="incrementPageNumber()">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="">1</a></li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
            <li class="page-item"><a class="page-link" href="">4</a></li>
            <li class="page-item"><a class="page-link" href="">5</a></li>
            <li class="page-item"><a class="page-link" (click)="decrementPageNumber()">&raquo;</a></li>
        </ul>
    </form>
</div>